{% extends "account/base.html" %}
{% load crispy_forms_filters %}

{% load account %}

{% block head_title %}- Восстановление пароля{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="text-center">Восстановление пароля</h1>
                <hr>
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>Забыли свой пароль? Введите email и мы отправим письмо с инструкциями по восстановлению пароля. Вам
                    придет письмо со ссылкой на восстановление пароля. Перейдите по этой ссылке, чтобы установить новый
                    пароль. Если письмо не пришло в течение нескольких минут, проверьте правильность введенных данных
                    или обратитесь в <a href="#">поддержку</a>.</p>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-outline-dark btn-block">Восстановить пароль
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}