{% extends "account/base.html" %}

{% block head_title %}- Подтвердите ваш email{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1>Проверьте почту</h1>
                <hr>
                <p>Мы отправили вам письмо с подтверждением регистрации на вашу почту. Перейдите по ссылке в письме,
                    чтобы завершить регистрацию. Пожалуйста, <a href="#">свяжитесь с нами</a>, если вы не получили
                    письмо в течение
                    нескольких минут.</p>
            </div>
        </div>
    </div>
{% endblock %}