{% extends 'profiles/base.html' %}
{% load static %}
{% load cropping %}

{% block head_title %}– Настройки{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 class="text-center">Профиль</h1>
            <hr>
            <div class="text-center">
                <img src="{% if user.profile.image is not None %}{% cropped_thumbnail user.profile "cropping" scale=1 %}{% else %}{% static 'profiles/img/avatar.png' %}{% endif %}" class="img-fluid rounded-circle" alt="">
                <p class="mt-2">
                    <span class="h4">{{ user.profile.get_full_name }}</span><br>
                    <span class="text-muted">{{ user.email }} | @{{ user.username }}</span><br>
                    <mark>{{ user.profile.bio }}</mark><br>
                </p>
            </div>
            <hr>
        </div>
    </div>
</div>
{% endblock %}